<a href="https://colab.research.google.com/github/jeniferGoncalvesDaSilvaDev/LH_CD_Jenifer_Gon-alves_da_Silva/blob/main/C%C3%B3pia_de_LH_CD_Jenifer_Gon%C3%A7alves_da_silva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Ler e carregar o dataset

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Lighthouse/[LH 2025-3] Desafio de Ciência de Dados/teste_indicium_precificacao.csv")
print(df)

             id                                               nome   host_id  \
0          2595                              Skylit Midtown Castle      2845
1          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
2          3831                    Cozy Entire Floor of Brownstone      4869
3          5022   Entire Apt: Spacious Studio/Loft by central park      7192
4          5099          Large Cozy 1 BR Apartment In Midtown East      7322
...         ...                                                ...       ...
48889  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48890  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48891  36485431            Sunny Studio at Historical Neighborhood  23492952
48892  36485609               43rd St. Time Square-cozy single bed  30985759
48893  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name bairro_group              bairro  latitude  longitude  \
0           Jennifer    Manhattan             Midtown  40.75362  -73.98377
1          Elisabeth    Manhattan              Harlem  40.80902  -73.94190
2        LisaRoxanne     Brooklyn        Clinton Hill  40.68514  -73.95976
3              Laura    Manhattan         East Harlem  40.79851  -73.94399
4              Chris    Manhattan         Murray Hill  40.74767  -73.97500
...              ...          ...                 ...       ...        ...
48889        Sabrina     Brooklyn  Bedford-Stuyvesant  40.67853  -73.94995
48890        Marisol     Brooklyn            Bushwick  40.70184  -73.93317
48891  Ilgar & Aysel    Manhattan              Harlem  40.81475  -73.94867
48892            Taz    Manhattan      Hell's Kitchen  40.75751  -73.99112
48893     Christophe    Manhattan      Hell's Kitchen  40.76404  -73.98933

             room_type  price  minimo_noites  numero_de_reviews ultima_review  \
0      Entire home/apt    225              1                 45    2019-05-21
1         Private room    150              3                  0           NaN
2      Entire home/apt     89              1                270    2019-07-05
3      Entire home/apt     80             10                  9    2018-11-19
4      Entire home/apt    200              3                 74    2019-06-22
...                ...    ...            ...                ...           ...
48889     Private room     70              2                  0           NaN
48890     Private room     40              4                  0           NaN
48891  Entire home/apt    115             10                  0           NaN
48892      Shared room     55              1                  0           NaN
48893     Private room     90              7                  0           NaN

       reviews_por_mes  calculado_host_listings_count  disponibilidade_365
0                 0.38                              2                  355
1                  NaN                              1                  365
2                 4.64                              1                  194
3                 0.10                              1                    0
4                 0.59                              1                  129
...                ...                            ...                  ...
48889              NaN                              2                    9
48890              NaN                              2                   36
48891              NaN                              1                   27
48892              NaN                              6                    2
48893              NaN                              1                   23

[48894 rows x 16 columns]

Limpeza de dados: verificar valores nulos e duplicados

In [ ]:
valores_nulos= df.isnull().sum()
print(valores_nulos)

id                                   0
nome                                16
host_id                              0
host_name                           21
bairro_group                         0
bairro                               0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimo_noites                        0
numero_de_reviews                    0
ultima_review                    10052
reviews_por_mes                  10052
calculado_host_listings_count        0
disponibilidade_365                  0
dtype: int64

In [ ]:
df2 = df.dropna()
valores_nulos2 = df2.isnull().sum()
print(valores_nulos2)

id                               0
nome                             0
host_id                          0
host_name                        0
bairro_group                     0
bairro                           0
latitude                         0
longitude                        0
room_type                        0
price                            0
minimo_noites                    0
numero_de_reviews                0
ultima_review                    0
reviews_por_mes                  0
calculado_host_listings_count    0
disponibilidade_365              0
dtype: int64

In [ ]:


# Encontre valores nulos baseados em linhas
duplicates = df2[df2.duplicated(keep=False)]

if not duplicates.empty:
    print("Linhas duplicadas encontradas:")
    print(duplicates)
else:
    print("Nenhuma linha duplicada encontrada")

Nenhuma linha duplicada encontrada

Fazendo uma descrição simples da tabela

In [ ]:
df2.describe()

,id,host_id,latitude,longitude,price,minimo_noites,numero_de_reviews,reviews_por_mes,calculado_host_listings_count,disponibilidade_365
count,3.882000e+04,3.882000e+04,38820.000000,38820.000000,38820.000000,38820.000000,38820.000000,38820.000000,38820.000000,38820.000000
mean,1.810127e+07,6.424747e+07,40.728131,-73.951148,142.332354,5.869346,29.290778,1.373259,5.166589,114.879856
std,1.069347e+07,7.589779e+07,0.054990,0.046693,196.997290,17.389233,48.183410,1.680339,26.303293,129.525398
min,2.595000e+03,2.438000e+03,40.506410,-74.244420,0.000000,1.000000,1.000000,0.010000,1.000000,0.000000
25%,8.722029e+06,7.032517e+06,40.688640,-73.982462,69.000000,1.000000,3.000000,0.190000,1.000000,0.000000
50%,1.887339e+07,2.837143e+07,40.721710,-73.954805,101.000000,2.000000,9.000000,0.720000,1.000000,55.000000
75%,2.756792e+07,1.019092e+08,40.762990,-73.935020,170.000000,4.000000,33.000000,2.020000,2.000000,229.000000
max,3.645581e+07,2.738417e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38820 entries, 0 to 48851
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             38820 non-null  int64
 1   nome                           38820 non-null  object
 2   host_id                        38820 non-null  int64
 3   host_name                      38820 non-null  object
 4   bairro_group                   38820 non-null  object
 5   bairro                         38820 non-null  object
 6   latitude                       38820 non-null  float64
 7   longitude                      38820 non-null  float64
 8   room_type                      38820 non-null  object
 9   price                          38820 non-null  int64
 10  minimo_noites                  38820 non-null  int64
 11  numero_de_reviews              38820 non-null  int64
 12  ultima_review                  38820 non-null  object
 13  reviews_por_mes                38820 non-null  float64
 14  calculado_host_listings_count  38820 non-null  int64
 15  disponibilidade_365            38820 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 5.0+ MB

Tratamento de dados

In [ ]:
data= df2['ultima_review']
print(data)

0        2019-05-21
2        2019-07-05
3        2018-11-19
4        2019-06-22
5        2017-10-05
            ...
48781    2019-07-07
48789    2019-07-07
48798    2019-07-07
48804    2019-07-07
48851    2019-07-08
Name: ultima_review, Length: 38820, dtype: object

In [ ]:

# Convertendo a coluna 'ultima_review' para datetime
df2['ultima_review'] = pd.to_datetime(df2['ultima_review'])
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 38820 entries, 0 to 48851
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             38820 non-null  int64
 1   nome                           38820 non-null  object
 2   host_id                        38820 non-null  int64
 3   host_name                      38820 non-null  object
 4   bairro_group                   38820 non-null  object
 5   bairro                         38820 non-null  object
 6   latitude                       38820 non-null  float64
 7   longitude                      38820 non-null  float64
 8   room_type                      38820 non-null  object
 9   price                          38820 non-null  int64
 10  minimo_noites                  38820 non-null  int64
 11  numero_de_reviews              38820 non-null  int64
 12  ultima_review                  38820 non-null  datetime64[ns]
 13  reviews_por_mes                38820 non-null  float64
 14  calculado_host_listings_count  38820 non-null  int64
 15  disponibilidade_365            38820 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 5.0+ MB
None

<ipython-input-17-fbff89cbf2bf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ultima_review'] = pd.to_datetime(df2['ultima_review'])

In [ ]:
data_review = df2['ultima_review']
print(data_review)

0       2019-05-21
2       2019-07-05
3       2018-11-19
4       2019-06-22
5       2017-10-05
           ...
48781   2019-07-07
48789   2019-07-07
48798   2019-07-07
48804   2019-07-07
48851   2019-07-08
Name: ultima_review, Length: 38820, dtype: datetime64[ns]